* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1920px;
  height: 100vh;
  overflow: hidden;
}

.game {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url("./img/bg_start.jpg");
  background-size: cover;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: coral;
  width: 180px;
  height: 60px;
}

.btn:hover {
  background: chocolate;
}

canvas {
  border: solid 2px;
  background-image: url("./img/bg_canvas.jpg");
  background-size: cover;
}

.discription {
  position: absolute;
  top: 10%;
  left: 28.3%;
  color: coral;
  margin-left: auto;
  margin-right: auto;
  font-size: 116px;
}

.info {
  position: absolute;
  top: 70%;
  right: 10px;
  width: 200px;
  padding-top: 10px;
  color: white;
  border: solid 4px orangered;
  padding: 5px;
  font-weight: bold;
  background-color: coral;
}

h2 {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.tower-indicator {
  position: absolute;
  top: 50px;
}

.tower-indicator p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 1;
  margin: 0;
}

progress {
  height: 40px;
  border-radius: 0px;
}

.tower1 {
  left: 20px;
}

.tower1 progress::-webkit-progress-value {
  background-color: darkgreen !important;
}

.tower1 progress {
  accent-color: darkgreen !important;
  color: darkgreen !important;
}

.tower2 {
  right: 20px;
}

.tower2 progress::-webkit-progress-value {
  background-color: pink !important;
}

.tower2 progress {
  accent-color: pink !important;
  color: pink !important;
}

.game-over {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  margin: 0;
  z-index: 999;
}

.game-over p {
  color: black;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.game-over .p {
  color: coral;
  font-size: 76px;
  font-weight: bold;
}


.game-over span {
  color: blueviolet;
  font-size: 48px;
  font-weight: bold;
}

.btn_restart {
  position: absolute;
  top: 80%;
  left: 45%;
  width: 140px;
  height: 65px;
  border-radius: 5px;
  background-color: #b918be;
  background-image: linear-gradient(19deg, coral 0%, orangered 100%);
  color: white;
  font-size: 24px;
  border: solid white;
}

.pausebtn {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 35px;
  background-color: coral;
  border-radius: 999px;
  z-index: 999;
}

.audioBtn {
  position: absolute;
  top: 8px;
  right: 60px;
  width: 35px;
  height: 35px;
  background-color: coral;
  border-radius: 999px;
  z-index: 999;
  background-image: url(img/Speaker_Icon.svg.png);
  background-size: contain;
}

.offCondition {
  position: absolute;
  top: 8px;
  right: 60px;
  width: 35px;
  height: 35px;
  background-color: mediumslateblue;
  border-radius: 999px;
  z-index: 999;
  background-image: url(img/109-1095591_no-audio-icon-free-download-png-and-vector.png);
  background-size: contain;
}

.pausebtn img {
  width: 100%;
}

.bg_pause {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.45) 0%,
      rgba(0, 0, 0, 0.45) 100%);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  color: mediumblue;
  font-size: 24px;
  font-weight: bold;
}

a:link {
  color: blueviolet;
  font-size: 20px;
  margin-left: 30px;
}

a:visited {
  color: white;
}

a:hover {
  color: blueviolet;
}

a:active {
  color: white;
  font-size: 18px;
}

.a_info {
  width: 100%;
  height: 100vh;
}

.a_info img {
  width: 70%;
  height: 100vh;
}

.p {
  font-size: 366px;
  z-index: 9999;
}
